<h1>Verify your email address</h1>
<p>The email that your registering with is <%= email %>. If this is correct, then please let us know that you are indeed not a robot.</p>
<p><a href="<%= email_verification_link %>"><%= email_verification_link %></a></p>