<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body class="loading">
    <div class="preloader">
      <div class="middle">
        <span class="<%= character %>"></span>
        <div class="contact">
          <h1>Webdesignwill</h1>
          <p><i class="fa fa-phone"></i> +31 611 587 395</p>
          <p><a href="mailto:will@webdesignwill.io"><i class="fa fa-envelope-o"></i> will@webdesignwill.io</a></p>
        </div>
      </div>
    </div>
    <div class="app"></div>
  </body>
</html>