// $red: #fc354c;
$white: #fff;
// $blue_light: #009aa7;
// $blue_lighter: #ccefff;
// $blue_sky: #77d6ff;

$black: rgb(40,40,40); // #282828
// $cloudGreen: rgb(23,155,166); // #179BA6
// $grey: rgb(130,149,147); // #82959D
// $storm: rgb(105,105,105); // #696969
// $hole:rgb(50,47,49); // #322F31
// $richman:rgb(13,54,87); // #0D3657

// Colors of the brand healthy columns
// $green: #a2bd37;
// $deepPink: #ed145a;
// $lightBlue: #78d6ff;
// $darkBlue: #009ba7;
// $purple: #8c4588;
// $darkRed: #e33312;
// $darkBlueFooter: #0d3657;
// $darkYellow: #fcb01c;

$max-width-default: 960px;

$colight:CoText-Light, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$coregular:CoText-Regular, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$gloria: 'Gloria Hallelujah', cursive;

// $small-screen : 480px;
// $small-screen-top : 481px;

// $medium-screen : 769px;
// $medium-screen-top : 770px;

// $large-screen : 1023px;
// $larger-screen : 1164px;

// $screen: "only screen" !default;

// $mobile: "#{$screen} and (min-width:0) and (max-width: #{$small-screen})";
// $tablet: "#{$screen} and (min-width:#{$small-screen-top}) and (max-width: #{$medium-screen})";
// $desktop: "#{$screen} and (min-width:#{$medium-screen-top})";

// $small-up: "#{$screen} and (max-width: #{$small-screen})";
// $medium-up: "#{$screen} and (max-width: #{$medium-screen})";
// $large-up: "#{$screen} and (max-width: #{$large-screen})";
// $larger-up: "#{$screen} and (max-width: #{$larger-screen})";

// // Override bootstrap variables
// $headings-line-height:1.48;
