<h1>Hey <%= displayname %></h1>
<p>Thanks for registering with webdesignwill.io the home of healthy web applications.</p>
<p>The email that your registering with is <%= email %>. If this is correct, then please let us know that you are indeed, not a robot</p>
<p><a href="<%= email_verification.link %>"><%= email_verification.link %></a></p>